/* font */
@import url(https://fonts.googleapis.com/css?family=Oleo%20Script);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap);

#login {
    font-family: 'Comfortaa';
}

#login .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 5px solid #000;
}

#login .title {
    font-family: 'Oleo Script';
    font-size: 3.2rem;
}

.home-return {
    display: flex;
    font-size: 1.4rem;
}

.home-return a {
    color: #000;
    
}

.icon-home {
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #A0E5CB, #DCDCDC, #FF98C6);
    min-height: 90vh;
}

.main-container h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    text-decoration: underline;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.1); 
    border: 1px solid #000;

    width: 22%;

}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;

}

.input-group input,
.password-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 15px;
}

.password-container {
  position: relative;
  margin-bottom: 15px;
}

.password-container input {
  padding-right: 40px;
}

.toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

.register {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.register a {
    color: #0342FF;
    font-size: 16px;

}

.register a:hover {
    color: #0056b3;
}

.input-group-checkbox{
    display: flex;
    margin-bottom: 15px;
    font-size: 20px;
}

.login-container .btn{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #e2e2e2;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.login-container .btn:hover{
    background-color: #ccc;
}

.error-message,
.success-message {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  z-index: 1000;
  border-radius: 20px;
  animation: fadeInOut 5s ease-in-out; /* Hiệu ứng xuất hiện và biến mất */
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
   
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }