/* font */
@import url(https://fonts.googleapis.com/css?family=Oleo%20Script);
@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

.no-select {
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}


#forget_password .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 5px solid #000;
}
#forget_password .title {
    font-family: 'Oleo Script';
    font-size: 3.2rem;
    padding-left: 100px;
}
#forget_password .content {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;  
    height: 100vh;    
    background: linear-gradient(120deg, #FBD0D9 20%, #C3EBEA 80%);
    padding-top: 50px;
}

#forget_password .container {
    width: 90%;
    max-width: 500px; 
    min-height: 450px; 
    padding: 20px;
    text-align: center;  
    padding-bottom: 500px;
}

#forget_password h1 {
    margin-right: 330px;
    font-weight: bold;
    font-size: 2rem;
}

#forget_password p {
    margin-left: 5px;
    width: 600px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
}
#forget_password input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#forget_password label {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

#forget_password  button {
    width: 40%;
    padding: 10px;
    margin-left: 235px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}